/* Set core body defaults */
* {
  box-sizing: border-box;
}

body {
    font-family: Inter, BlinkMacSystemFont, "Segoe UI", roboto, Oxygen;
    text-rendering: optimizeSpeed;
}

@media only screen and (max-width: 830px) {

  .el-dialog {
    width: 90%
  }
}

